.loading {
  height: 80vh;
  text-align: center;
  margin-top: 40vh;
}
.App {
  background-color: #152033;
}
.home-div {
  text-align: center;
}
.h-700 {
  height: 500px;
}

.footer {
  background-color: white;
  color: black;
}
.header-clr {
  background-color: white;
}
.m-card {
  margin: 30px 50px;
  height: 400px;
}

.blog {
  color: #000;
}
.desc {
  text-align: left;
  font-size: 1.3rem;
}
.myth-lists {
  font-size: 1.3rem;
}
.myth-heading {
  font-size: 1.7rem;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .blog {
    text-align: center;
  }
  .desc {
    text-align: center;
  }
  .blog-row {
    flex-direction: column-reverse;
  }
}
