@import '~mdb-ui-kit/css/mdb.min.css';
.loading{
    height: 80vh;
    text-align: center;
    margin-top: 40vh;
}
.App{
    background-color: #152033;
}
.home-div{
    text-align: center;   
}
.h-700{
    height: 500px;
}

.footer{
    background-color: white;
    color: black;
}
.header-clr{
    background-color: white;
}
.m-card{
    margin: 30px 50px;
    height: 400px;
}
.search{
    z-index: 9;
    position: absolute;
    background-color: white;
    list-style-type: none;
    margin-top: 0;
}
.search-li :hover{
background-color: blue;
}