
.App{
    background-color: #152033;
}
.home-div{
    text-align: center;   
}
.h-700{
    height: 500px;
}

.footer{
    background-color: white;
    color: black;
}
.header-clr{
    background-color: white;
}
.m-card{
    margin: 30px 50px;
    height: 400px;
}